body,
html,
*{
}
body{
    background-color: greenyellow;
    ;
    text-align: center;
}
.container{
    display:flex;
    width: 20vw;
    margin: 0.5rem auto;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 2rem;
}                               
.name{
text-align: center;
font-size: 50px;
}

.header{
    display:flex;
    width: 20vw;
    margin: 0.5rem auto;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 2rem;
}
.card{
    height: 20rem;
    width:26%;
    border: 2px solid black;
    border-radius: 25px;
    display:flex;
    flex-direction:column; 
    align-items: center;
    margin-bottom: 5%;
    justify-content: space-around;
    background-color: rgba(211,211,211,.5);
}
