body,
html,
*{
}
body{
    background-color: greenyellow
}
.container{
    display:flex;
    width: 20vw;
    margin: 2rem auto;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 2rem;

}